{% extends "continents/base.html" %}
{% block title %}Countries{% endblock %}
{% block content %}
<h1>Paises del mundo</h1>
{% for country in countries %}
<a href="{% url "countries:country_detail" country.code %}">
  <div style="border-width: 2px; border-color: #000000; border-style: dotted;">
    <h2>{{ country.name | title}}</h2>
    <p><strong>Code: </strong>{{country.code}}</p>
  </div>
</a>
<br>
{% endfor %}
<h3><a href="{% url "countries:register_country" %}">Registrar un nuevo país</a> </h3>
{% endblock %}
